main {
  width: 100%;
  margin: 0 auto;
  background-color: #111111;
}

.container {
  width: 100%;
  margin: 0 auto;
}

main .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main .container .block {
  width: 80%;
  margin-top: 80px;
  padding: 5px;
}

main .container .hide-block {
  width: 90%;
  margin-top: 80px;
  padding: 5px;
}

.side-bar {
  width: 20%;
  height: 92vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 5px;
  background-color: #1a1c1e;
  transition: 0.3s ease;
}

.side-bar-hide {
  width: 80px;
  height: 92vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 5px;
  background-color: #1a1c1e;
  transition: 0.3s ease;
}

.side-bar-hide .container .navigation {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.side-bar-hide .container .navigation .side-bar-link {
  padding: 15px;
  margin-top: -10px;
  text-decoration: none;
  color: #d4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border-radius: 5px;
}

.side-bar-hide .container .navigation .side-bar-link span {
  display: none;
}

.side-bar .container .navigation {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.side-bar .container .navigation .side-bar-link {
  padding: 8px;
  margin-top: -5px;
  text-decoration: none;
  color: #d4d4d4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.2s ease;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 5px;
}

.side-bar-hide .container .navigation .side-bar-link:hover {
  background-color: rgba(1, 1, 1, 0.3);
  color: white;
}

.side-bar-hide .container .navigation .side-bar-link:focus {
  background-color: rgba(230, 230, 230, 0.11);
  color: white;
}

.side-bar-hide .container .navigation .side-bar-link:active {
  background-color: rgb(230, 230, 230, 0.144);
  color: white;
}

.side-bar .container .navigation .side-bar-link:hover {
  background-color: rgba(1, 1, 1, 0.3);
  color: white;
}

.side-bar .container .navigation .side-bar-link:focus {
  background-color: rgba(230, 230, 230, 0.11);
  color: white;
}

.side-bar .container .navigation .side-bar-link:active {
  background-color: rgb(230, 230, 230, 0.144);
  color: white;
}

.side-bar .container .navigation .side-bar-link i {
  margin-right: 15px;
  padding: 5px;
  font-size: 20px;
}

.home-page .container .block {
  width: 100%;
}

header {
  width: 100%;
  height: 80px;
  background-color: #1a1c1e;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
}

header .container {
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upragade {
  padding: 13px;
  margin-right: 245px;
  background-color: #111111;
  border-radius: 10px;
  color: #ccc;
}

.upragade:hover {
  background-color: #141414;
}

.search-box .btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #111111;
  margin-left: 16px;
}

.search-box .btn i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}

.search-box input {
  width: 400px;
  padding: 13px;
  outline: none;
  color: #d5d5d5;
  border: none;
  outline: none;
  background-color: #111111;
  font-size: 14px;
  border-radius: 10px;
}

.search-box input::placeholder {
  color: #ccc;
}

.search-box button i {
  padding: 5px;
  display: flex;
  justify-content: center;
  outline: none;
  align-items: center;
  color: rgb(80, 80, 80);
}

.search-box button {
  outline: none;
  color: rgb(80, 80, 80);
  cursor: pointer;
  border: none;
  background: none;
}

.about-platform .title {
  color: #123;
  background-color: rgb(226, 226, 226);
  margin-bottom: 30px;
}

.html-page-lessons .block {
  display: flex;
  justify-content: flex-start;
}

.html-page-lessons .about-platform {
  width: 75%;
}

.about-description .description {
  width: 500px;
  height: 150px;
  text-anchor: middle;
  font-size: 20px;
  color: rgba(15, 105, 105, 0.918);
  border-bottom: 1px solid rgb(156, 156, 156);
  margin-bottom: 30px;
}

.box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box .box-list {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 0px 3px gray;
  background-color: rgb(78, 78, 78);
  color: #ccc;
  font-size: 15px;
  margin: 10px;
  text-align: center;
}

.courses-about {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-about a {
  padding: 10px 30px 10px 30px;
  list-style-type: none;
  margin: 5px;
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  border: 1px solid transparent;
  position: relative;
}

.courses-about a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 30%;
  width: 0%;
  border: 1px solid rgb(119, 119, 119);
  transition: 0.3s ease;
  opacity: 0;
}

.courses-about a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0%;
  width: 100%;
  opacity: 1;
  border: 1px solid rgb(119, 119, 119);
}

.language-about {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-top: 30px;
  justify-items: center;
  flex-direction: column;
}

.language-about .lang span {
  width: 250px;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 3px 3px 1px dimgrey;
  text-align-last: left;
}

.language-about .lang {
  width: 80%;
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  box-shadow: 0px 1px 3px 1px #2b2b2b;
  border-radius: 10px;
  transition: 0.3s ease;
  color: rgb(230, 210, 92);
  font-weight: 600;
  padding: 5px;
  background-color: transparent;
}

.language-about .lang img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.language-about .lang:active {
  box-shadow: 0 0 0 0;
  transform: translateY(5px);
}

.language-about .lang ul {
  width: 100%;
}

.language-about .lang ul li {
  width: 100%;
  list-style: none;
  font-style: 23px;
  padding: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #000;
}

.lessons-about-description {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.s-log-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  position: relative;
}

.list b {
  margin-right: 5px;
  margin-left: 50%;
}

.flex-min-group {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
}

.flex-min-group:nth-child(1) .s-log-icon:nth-child(1):hover::after {
  content: "ko'rilgan";
  position: absolute;
  right: -15%;
  top: -15px;
  background-color: #222;
  color: #fff;
  font-size: 13px;
  padding: 1px;
  border: 1px solid #fff;
}

.flex-min-group:nth-child(1) .s-log-icon:nth-child(2):hover::after {
  content: "chiqishlar";
  position: absolute;
  right: -15%;
  top: -15px;
  background-color: #222;
  color: #fff;
  font-size: 13px;
  padding: 1px;
  border: 1px solid #fff;
}

.flex-min-group:nth-child(1) .s-log-icon:nth-child(3):hover::after {
  content: "kiriliganlar";
  position: absolute;
  right: -15%;
  top: -15px;
  background-color: #222;
  color: #fff;
  font-size: 13px;
  padding: 1px;
  border: 1px solid #fff;
}

.flex-min-group:nth-child(1) .s-log-icon:nth-child(4):hover::after {
  content: "o'quvchilar";
  position: absolute;
  right: -15%;
  top: -15px;
  background-color: #222;
  color: #fff;
  font-size: 13px;
  padding: 1px;
  border: 1px solid #fff;
}

.video-card-block {
  display: flex;
  gap: 20px;
  padding: 5px;
  justify-items: center;
  flex-direction: column;
  background-color: transparent;
}

.video-card-block .videos {
  width: 80%;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  background-color: #fffbfb0c;
  border: 2px dashed darkred;
  margin: 0 auto;
}

.video-card-block .videos .video {
  width: 50%;
  height: 200px;
  cursor: pointer;
}

.video-card-block .videos .video video {
  width: 80%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.video-card-block .videos .video img {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 5px;
}

.video-card-block .videos .description {
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid rgb(156, 156, 156);
  border-top: 1px solid rgb(156, 156, 156);
  text-align: justify;
}

.connection {
  width: 250px;
  height: 65px;
  position: fixed;
  right: 0px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #1a1c1e;
  border-radius: 10px;
  transform: translateY(0);
  transition: 0.3s ease-in-out;
  color: #123;
}

.hide-connection {
  transform: translateY(200px);
}

.connection span:nth-of-type(1) {
  color: rgb(231, 18, 18);
  font-weight: 600;
}

.connection span:nth-of-type(2) {
  color: rgb(9, 228, 191);
}

.connection i {
  position: relative;
}

.connection i::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  right: 12%;
  transform: rotate(45deg) translateX(6px) translateY(3px);
}

.detect-block {
  width: 250px;
  height: 80px;
  position: fixed;
  right: 30px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 0 0;
  background-color: transparent;
}

.link-btn {
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  cursor: pointer;
  width: 50%;
  background-color: #141414;
  border: 2px solid #2b2b2b;
}

.html-tutorial {
  width: 600px;
  height: 400px;
  background-color: #1f1f1f;
  color: #fff;
  position: relative;
}

.html-code {
  display: flex;
  align-items: center;
}

.html-code .t {
  font-size: 23px;
  color: rgb(111, 183, 255);
}

.html-code .r {
  font-size: 28px;
  color: rgb(17, 96, 175);
}

.html-code .l {
  font-size: 28px;
  color: rgb(17, 96, 175);
}

.code-length {
  font-size: 18px;
  margin-right: 10px;
  padding: 5px;
}

.html-code:hover {
  background-color: rgba(134, 134, 134, 0.164);
}

.html-side-bar {
  width: 20%;
  height: 89vh;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 5px;
  background-color: #1a1c1e;
  transition: 0.3s ease;
}

.html-side-bar .container .navigation .side-bar-link:hover {
  background-color: rgba(1, 1, 1, 0.3);
  color: white;
}

.html-side-bar .container .navigation .side-bar-link:focus {
  background-color: #f5f5f523;
  color: white;
}

.html-side-bar .container .navigation .side-bar-link:active {
  background-color: rgb(230, 230, 230, 0.144);
  color: white;
}

.html-side-bar .container .navigation .side-bar-link i {
  margin-right: 15px;
  padding: 5px;
}

.html-side-bar .container .navigation {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.html-side-bar .container .navigation .side-bar-link {
  padding: 15px;
  margin-top: -5px;
  text-decoration: none;
  color: #d4d4d4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.2s ease;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  border-bottom: 1px solid #333333;
}

.view-video-block {
  width: 130px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-video {
  padding: 10px;
  color: rgb(235, 235, 235);
}

.view-video span {
  display: none;
}

.view-video:hover span {
  display: flex;
}

.view-video:hover i {
  display: none;
}

.html-code-tools {
  width: 100%;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.menu-video-col-1 span {
  padding: 15px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.3s ease;
  border-radius: 5px;
}

.menu-video-col-1 span:hover {
  background-color: rgba(1, 1, 1, 0.3);
  color: rgb(163, 163, 163);
}

.Slider {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  border: 1px solid #000;
  overflow: hidden;
}

.Slider .img {
  width: 100% !important;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.3;
}

.Slider .img img {
  width: 900px !important;
  height: 100%;
  object-fit: cover;
}

.user-action {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.user-action .user-name h1 {
  display: flex;
  align-items: center;
}

.user-action .user-name h1 span {
  display: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  margin-left: 15px;
}

.user-action .user-name h1 span:hover {
  background-color: #2b2b2b;
}

.user-action .user-name h1:hover span {
  display: block;
}

.user-action .user-name span:nth-child(2) {
  width: 70%;
  display: flex;
  align-items: center;
  height: 5vh;
}

.user-action .user-about .user-name span span:nth-child(1) {
  display: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  margin-left: 15px;
}

.user-action .user-name span span:nth-child(1):hover {
  background-color: #2b2b2b;
}

.user-action .user-name span:hover span:nth-child(1) {
  display: inline;
}

.popup-modal {
  width: 500px;
  height: 400px;
  position: fixed;
  right: 30%;
  bottom: 20%;
  z-index: 10;
  border: 1px solid #fff;
  background-color: #333333;
  border-radius: 10px;
  display: none;
}

.show-popup-modal {
  width: 500px;
  height: 400px;
  position: fixed;
  right: 30%;
  bottom: 20%;
  z-index: 10;
  border: 1px solid #fff;
  background-color: #333333;
  border-radius: 10px;
  display: block;
}

.re-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.re-input input {
  display: none;
  width: 300px;
  padding: 10px;
  border-bottom: 1px solid #5c5c5c;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
  background-color: transparent;
  color: #807e7e;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.re-input input.showInput {
  display: none;
}

.re-input input.input {
  display: block;
}

.user-action .user-name h1.showInput {
  display: none;
}

.user-action .user-name h1.input {
  display: flex;
}

.user-action .user-name button {
  width: 60px;
  padding: 10px 10px 10px 10px;
  background-color: #5c5c5c;
  color: rgb(209, 209, 209);
  border: 2px solid #807e7e;
  cursor: pointer;
  border-radius: 10px;
}

.user-action .user-name button.showInput {
  display: none;
}

.user-action .user-name button.input {
  display: flex;
}