main {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(to right, #61ACF9, #7970ED);
  /* border: 1px solid #000; */
}

.container {
  width: 99%;
  margin: 0 auto;
  padding: 5px;
}
main .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
main .container .block {
  width: 80%;
  
}

.side-bar {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  box-shadow: 3px 5px 15px rgba(3, 1, 1, 0.5);
  background: linear-gradient(to top, #61ACF9, #FE54CC);
}
.side-bar .container .navigation {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.side-bar .container .navigation .side-bar-link {
  padding: 10px;
  margin-top: -5px;
  text-decoration: none;
  color: #F6F6F6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.2s ease;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.side-bar .container .navigation .side-bar-link:hover {
  background-color: rgba(1, 1, 1, 0.3);
  color: white;
}
.side-bar .container .navigation .side-bar-link:focus {
  background-color: rgb(230, 230, 230, 0.344);
  color: white;
}
.side-bar .container .navigation .side-bar-link:active {
  background-color: rgb(230, 230, 230, 0.144);
  color: white;
}
.side-bar .container .navigation .side-bar-link i {
  margin-right: 15px;
  padding: 5px;
}
.home-page .container .block {
  width: 100%;
}

header {
  width: 100%;
  height: 80px;

}
header .container {
  justify-content: space-between;
  align-items: center;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.search-box input {
  width: 350px;
  padding: 5px;
  outline: none;
  color: #D5D5D5;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}
.search-box input::placeholder{
  color: #ccc;
}
.search-box button i {
  padding: 5px;
  display: flex;
  justify-content: center;
  outline: none;
  align-items: center;
  color: rgb(80, 80, 80);
}
.search-box button {
  outline: none;
  color: rgb(80, 80, 80);
  cursor: pointer;
  border: none;
  background: none;
}

.about-platform .title {
  color: #123;
  background-color: rgb(226, 226, 226);
  margin-bottom: 30px;
}
.about-description .description {
  width: 500px;
  height: 150px;
  text-anchor: middle;
  font-size: 20px;
  color: rgba(15, 105, 105, 0.918);
  border-bottom: 1px solid rgb(156, 156, 156);
  margin-bottom: 30px;
}

.box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.box .box-list {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 0px 3px gray;
  background-color: rgb(78, 78, 78);
  color: #ccc;
  font-size: 15px;
  margin: 10px;
  text-align: center;
}

.courses-about {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-about a {
  padding: 10px 30px 10px 30px ;
  list-style-type: none;
  margin: 5px;
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  
}
.courses-about a:nth-child(1){
  border: 2px solid red;
}
.courses-about a:nth-child(1):hover{
  border: 2px solid white;
  background: red;
}
.courses-about a:nth-child(2):hover{
  border: 2px solid white;
  background: blue;
}
.courses-about a:nth-child(3):hover{
  border: 2px solid white;
  background: darkred;
}
.courses-about a:nth-child(4):hover{
  border: 2px solid white;
  background: purple;
}
.courses-about a:nth-child(5):hover{
  border: 2px solid white;
  background: yellow;
  color: darkorange;
}
.courses-about a:nth-child(6):hover{
  border: 2px solid white;
  background: blue;
}
.courses-about a:nth-child(7):hover{
  border: 2px solid white;
  background: darkorange;
}
.courses-about a:nth-child(8):hover{
  border: 2px solid white;
  background: darkgreen;
}
.courses-about a:nth-child(2){
  border: 2px solid blue;
}
.courses-about a:nth-child(3){
  border: 2px solid darkred;
  
}
.courses-about a:nth-child(4){
  border: 2px solid purple;
  
}
.courses-about a:nth-child(5){
  border: 2px solid yellow;
  
}
.courses-about a:nth-child(6){
  border: 2px solid blue;
  
}
.courses-about a:nth-child(7){
  border: 2px solid darkorange;
  
}
.courses-about a:nth-child(8){
  border: 2px solid darkgreen;
  
}
.courses-about ul li:hover {
  background-color: rgb(175, 175, 175);
}

.language-about {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-top: 30px;
  justify-items: center;
  flex-direction: column;
}

.language-about .lang span {
  width: 250px;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 3px 3px 1px dimgrey;
  text-align-last: left;
}
.language-about .lang {
  width: 80%;
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  box-shadow: 1px 3px 3px 1px #101010;
  border-radius: 10px;
  transition: 0.3s ease;
  color: rgb(230, 210, 92);
  font-weight: 600;
  padding: 5px;
  background-color: transparent;
}
.language-about .lang img{
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
.language-about .lang:active {
  box-shadow: 0 0 0 0;
  transform: translateY(5px);
}
.language-about .lang ul {
  width: 100%;
}
.language-about .lang ul li {
  width: 100%;
  list-style: none;
  font-style: 23px;
  padding: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #000;
}
.lessons-about-description {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.s-log-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  position: relative;
}
.list b {
  margin-right: 5px;
  margin-left: 50%;
}
.flex-min-group {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
}

.flex-min-group:nth-child(1) .s-log-icon:nth-child(1):hover::after {
  content: "ko'rilgan";
  position: absolute;
  right: -15%;
  top: -15px;
  background-color: #222;
  color: #fff;
  font-size: 13px;
  padding: 1px;
  border: 1px solid #fff;

}
.flex-min-group:nth-child(1) .s-log-icon:nth-child(2):hover::after {
  content: "chiqishlar";
  position: absolute;
  right: -15%;
  top: -15px;
  background-color: #222;
  color: #fff;
  font-size: 13px;
  padding: 1px;
  border: 1px solid #fff;
}
.flex-min-group:nth-child(1) .s-log-icon:nth-child(3):hover::after {
  content: "kiriliganlar";
  position: absolute;
  right: -15%;
  top: -15px;
  background-color: #222;
  color: #fff;
  font-size: 13px;
  padding: 1px;
  border: 1px solid #fff;
}
.flex-min-group:nth-child(1) .s-log-icon:nth-child(4):hover::after {
  content: "o'quvchilar";
  position: absolute;
  right: -15%;
  top: -15px;
  background-color: #222;
  color: #fff;
  font-size: 13px;
  padding: 1px;
  border: 1px solid #fff;
}

.video-card-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 20px;
  padding: 5px;
  justify-items: center;
  background-color: transparent;
}
.video-card-block .videos {
  width: 80%;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  background-color: #fffbfb0c;
  border: 2px dashed darkred;
}

.video-card-block .videos .video {
  width: 50%;
  height: 200px;
  cursor: pointer;
}

.video-card-block .videos .video video {
  width: 80%;
  height: 100%;
  border-radius: 5px;
  border-radius: 20px;
  object-fit: cover;
}
.video-card-block .videos .video img {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 5px;
}
.video-card-block .videos .description {
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid rgb(156, 156, 156);
  border-top: 1px solid rgb(156, 156, 156);
  text-align: justify;
}
.connection {
  width: 250px;
  height: 65px;
  border: 2px solid rgb(70, 70, 70);
  position: fixed;
  right: 0px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px gray;
  transform: translateY(0);
  transition: 0.3s ease-in-out;
}
.hide-connect{
  transform: translateY(200px);
}
.connection span:nth-of-type(1) {
  color: rgb(231, 18, 18);
  font-weight: 600;
}

.connection span:nth-of-type(2) {
  color: rgb(9, 228, 191);
}
.connection i {
  position: relative;
}
.connection i::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  right: 12%;
  transform: rotate(45deg) translateX(6px) translateY(3px);
}


.detect-block{
  width: 250px;
  height: 80px;
  position: fixed;
  right: 30px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}
.link-btn{
  border-radius: 10px;
  cursor: pointer;
}