@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,200;1,200;1,300&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto" sans-serif;
  outline: none;
}
*::selection{
  background-color: rgba(0, 0, 0, 0.486);
  color: #222;
  transition: all 0.3s ease;
}
::-webkit-scrollbar{
  width: 20px;
  background-color: rgb(22, 22, 22);
}
::-webkit-scrollbar-button{
  background-color: rgb(22, 22, 22);
}
::-webkit-scrollbar-thumb{
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: rgb(10, 10, 10);
}
